<!DOCTYPE html>
<html lang="ko" ng-app="form-demo-app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimun-scale=1.0, width=device-width">
  <title>SDL HOMEPAGE</title>
  <!-- style -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/font-awesome.css">
  <link rel="stylesheet" href="css/border.css">


  <!-- 웹 폰트 -->
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->

  <script type="text/javascript" src="js/angular.js"></script>
  <script>
    angular.module('form-demo-app', [])
    .controller('mainCtrl', ['$scope', function ($scope) {

    }]);
  </script>
</head>
<!-- //HEAD -->
<body ng-controller="mainCtrl">

  <div id = "wrap">
    <header>
      <div class="menu_header">
       <div class="header_menu">
        <ul>
          <li><a href="http://www.dongseo.ac.kr" class="h_last">동서대학교</a></li>
          <li><a href="http://dyy2525.dothome.co.kr/login.html">로그인</a></li>
          <li><a href="http://dyy2525.dothome.co.kr/join.html">회원가입</a></li>
          <li><a href="http://dyy2525.dothome.co.kr/dyy2525/resources/sdl.hwp" download>입회신청서</a></li>
        </ul>
      </div>
    </div>
    <img class="h_line" src="img/line.jpg">
  </header>
  <!-- //header -->

  <div id="cont_nav">
    <div class="menubar">
      <div class="logo_div">
        <h3><a href="http://www.dongseo.ac.kr"><img src="img/dsu_logo.jpg" alt=""></a><a href="http://dyy2525.dothome.co.kr/tt.html" class="logo">SDL</a></h3>
      </div>
      <div class="dropdown_all">
        <div class="dropdown" style="float:left;">
          <div class="dropbtn">연구실소개</div>
          <div class="dropdown-content" style="left:0;">
            <a href="http://dyy2525.dothome.co.kr/labintro.html">연구실 소개</a>
            <a href="http://dyy2525.dothome.co.kr/student.html">소속학생명단</a>
            <a href="http://dyy2525.dothome.co.kr/labaward.html">수상내역</a>
            <a href="http://dyy2525.dothome.co.kr/map.html">오시는길</a>
          </div>
        </div>
        <div class="dropdown" style="float:left;">
          <button class="dropbtn">연구실소식</button>
          <div class="dropdown-content" style="left:0;">
            <a href="http://dyy2525.dothome.co.kr/notice.html">공지사항</a>
            <a href="#">연구실 활동</a>

          </div>
        </div>
        <div class="dropdown" style="float:left;">
          <button class="dropbtn">연구실일정</button>
          <div class="dropdown-content" style="left:0;">
            <a href="http://dyy2525.dothome.co.kr/schedule.html">캘린더</a>

          </div>
        </div>
        <div class="dropdown" style="float:left;">
          <button class="dropbtn">커뮤니티존</button>
          <div class="dropdown-content" style="left:0;">
            <a href="http://dyy2525.dothome.co.kr/n_board.html">자유게시판</a>
            <a href="#">Q & A</a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- CONT_NAV -->

  <section>
    <div class="container" id="wrap">
      <div class="row">
       <div class="col-md-6 col-md-offset-3">
        <form name="signUpForm" class="form" role="form">
         <legend class="page_tit"><h6>로그인</h6></legend>
         <div class="conts">
          <div class="row">
            <div class="col-xs-6 col-md-6">
              <input type="text" name="email" class="form-control input-lg" placeholder="Email : 재학생은 학번, 그 외는 이메일 입력" ng-model="user.email" ng-required="true" style="width:450px; border-radius: 0.2em; padding: 5px;"/>
              <br>
              <input type="password" name="password" class="form-control input-lg" placeholder="패스워드" ng-model="user.password" ng-required="true" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$/" style="width:450px; border-radius: 0.2em; padding: 5px;"/>
              <div ng-show="signUpForm.password.$error.pattern" class="alert alert-warning" role="alert" style="color: #C20324;">최소 4글자, 최대 8글자이고 적어도 하나의 소문자, 대문자, 숫자를 포함해야합니다.</div>
              <br>
       <!--  <label>성별 : </label>
       <input type="radio" name="gender" ng-model="user.gender" value="M">남자
       <input type="radio" name="gender" ng-model="user.gender" value="F">여자 -->
       <!-- <br> -->
       <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit" style="width:465px; font-size: 20px;  background: #C20324; color: #fff; border-radius: 0.2em; padding: 8px;">확인</button> 
     </div>
     <br>
   </form>
 </div>
</div>
</div>
</section>
<!-- 페이징끝 -->
<footer>
 <div id="footer" class="div-cont">
  <div id="fcopyright" class="fcopyright">
    <img src="img/flogo.png"class="flogo" alt="" />
    <div class="pinfo">
      <span class="paddr">(47011) 부산광역시 사상구 주례로 47(주례동) U-IT관 U109호 SDL Lab </span>
      <span class="ptel-wrap"><span class='ptel'>TEL : 051-320-1710</span></span>
    </div>
  </div>
</div>
</footer>
<!-- //footer -->
</div>
</body>
</html>